# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.DS_Store
*.dylib
*.so*
*.a
.idea

*.log

pkgconfig
include

/jna-lib/src/main/resources/win32-x86/tree-sitter-cpp.dll
/jna-lib/src/main/resources/win32-x86-64/tree-sitter-cpp.dll
